@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-light-mint: #ebfff1;
  --color-green: #2d7c39;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
@layer components {
  .input {
    @apply w-full rounded-lg border bg-white px-4 py-3 text-sm
    focus:outline-none focus:ring-0 focus:border-transparent
    disabled:bg-gray-200;
  }
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.step-arrow {
  clip-path: polygon(
    0% 0%,
    90% 0%,
    100% 50%,
    90% 100%,
    0% 100%
  );
  border-radius: 10px 0 0 10px;
}

.group:hover svg {
  color: white !important;
}
